@model SporSalonu.Models.Antrenorler

@{
    ViewData["Title"] = "Antrenör Detayları";
}

<h1>Antrenör Detayları</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AntAd)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AntAd)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AntSoyad)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AntSoyad)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AntUzmanlik)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AntUzmanlik)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-secondary">Listeye Dön</a>
</div>