@model IEnumerable<SporSalonu.Models.Antrenorler>

@{
    ViewData["Title"] = "Antrenörler";
}

<h1>Antrenörler</h1>

@if (User.IsInRole("Admin"))
{
    <p>
        <a asp-action="Create">Yeni Antrenör Ekle</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AntAd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AntSoyad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AntUzmanlik)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AntAd)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AntSoyad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AntUzmanlik)
                </td>
                <td>
                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.AntId">Düzenle</a>
                        <a asp-action="Delete" asp-route-id="@item.AntId">Sil</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>